* {
    font-family: 'Roboto',sans-serif;
}
/*Logo*/
.logo {
    text-align: center;
    background-image: url(../images/h_img.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 800px;
}
.logoimage {
    padding-top: 280px;
}
.logotext {
    color: white;
    padding-top: 20px;
}
.break {
    color: white;
    padding-top: 35px;
}
.logopoint {
    color: white;
    font-weight: bold;
} 
.mouseimage {
    padding-top: 170px;
}
/*About us*/
.aboutus {
    text-align: center;
    padding-top: 40px;
}
.about {
    font-weight: bolder;
}
.text {
    font-weight: bolder;
}
#text {
    font-weight: bold;
}

/*Service*/
.services {
    text-align: center;
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    padding-top: 100px;
}
.heading {
    font-weight: bold;
}
.paragraph {
    font-weight:bolder ;
}

/*What we do*/
.what-we-do{
    text-align: center;
    padding-top: 40px;
  }
  .what-we-do .headings{
    padding-bottom: 38px;
  }
  #mouse-click{
    padding-top: 22px;
    margin-top:10%;
    padding-bottom: 30px;
  }

  /*Portfolio*/
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 18%;
    margin-right: 16%;
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top: 40px;
  }
  #product, #development, #design{
    display: none;
    font-size: 16px;
    font-size: 20px;
    font-weight: 600;
  }
  .title{
    padding: 6px;
  }
  #product .title, #development .title, #design ,title{
    font-size: 20px;
    font-weight: 600;
  }
  
    /*Contact us*/
.contact{
    background-image: url(../images/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
  }
  .contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  input[type=text],input[type=email],#mce-MMERGE6{
    background: transparent;
    color: white;
    font-size: 20px;
  }
  .form-control::-webkit-input-placeholder{
    color: #fff;
  }
  #black1,#ontario,#brown,#black2,#black5,#black6,#black7,#black8{
    display: none;
    color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color:rgb(245, 238, 238);
    position: absolute;
    top: 20px;
    left: 35px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50%;
  }
  #mce-FNAME{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #mce-EMAIL{
    width: 30%;
  }
  #mce-MMERGE6{
    margin-left: 20%;
    width: 60%;
  }
  button{
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  /*Footer*/
footer{
    text-align: center;
    padding-top: 30px;
  }


