* {
    font-family: 'Roboto',sans-serif;
}
/*Logo*/
.logo {
    text-align: center;
    background-image: url(../images/h_img.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 800px;
}
.logoimage {
    padding-top: 280px;
}
.logotext {
    color: white;
    padding-top: 20px;
}
.break {
    color: white;
    padding-top: 35px;
}
.logopoint {
    color: white;
    font-weight: bold;
} 
.mouseimage {
    padding-top: 170px;
}
/*About us*/
.aboutus {
    text-align: center;
    padding-top: 40px;
}
.about {
    font-weight: bolder;
}
.text {
    font-weight: bolder;
}
#text {
    font-weight: bold;
}

/*Service*/
.services {
    text-align: center;
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    padding-top: 100px;
}
.heading {
    font-weight: bold;
}
.paragraph {
    font-weight:bolder ;
}

/*What we do*/
.what-we-do{
    text-align: center;
    padding-top: 40px;
  }
  .what-we-do .headings{
    padding-bottom: 38px;
  }

  /*Portfolio*/
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 18%;
    margin-right: 16%;
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top: 40px;
  }
  #product, #development, #design{
    display: none;
    font-size: 16px;
    font-size: 20px;
    font-weight: 600;
  }
  .title{
    padding: 6px;
  }
  #product .title, #development .title, #design ,title{
    font-size: 20px;
    font-weight: 600;
  }
  #mouse-click{
      padding-top: 22px;
      margin-top:10%;
      padding-bottom: 30px;
    }


